@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #272727;
}

.web3-modal-wrapper {
  font-family: 'Inter';
  position: absolute;
  z-index: 10;
  background-color: #191a1a;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 15px 10px;
  border-radius: 44px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 300px;
}

.web3-modal-wrapper .web3-modal-title {
  text-align: center;
  font-size: 16px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.web3-modal-wrapper .web3-modal-items .item {
  cursor: pointer;
  padding: 7px 10px;
  background-color: rgba(255, 255, 255, 0.02);
  margin: 10px 0;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  transition-duration: 0.6s;
}

.web3-modal-wrapper .web3-modal-items .item:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.web3-modal-wrapper .web3-modal-items .item .arrow {
  margin-right: 0;
}

.web3-modal-wrapper .web3-modal-items .item .arrow::after {
  content: '➢';
}

.web3-modal-wrapper .web3-modal-items .item > div {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.web3-modal-wrapper .web3-modal-items .item > div .icon {
  display: flex;
}

.web3-modal-wrapper .web3-modal-items .item > div .icon img {
  width: 40px;
  margin-right: 10px;
  border-radius: 10px;
}

@media (max-width: 430px) {
  .web3-modal-wrapper {
    width: 100%;
  }
}
